.sidebar {
    width: 50%;
    background-color: var(--wb-pink-color);
    position: absolute;
    top: 92px;
    right: 0;
    line-height: 3.5;
    border-radius: 0 0 0 20px;
    border-left: 5px solid var(--wb-better-white);
}

.title-of-sidebar {
    color: var(--wb-better-white);
    line-height: 4;
    text-align: center;
    cursor: pointer;
}

.sidebar ul {
    margin: 15px 0;
}

.sidebar-link {
    color: var(--wb-better-light-grey);
    font-weight: 700;
    margin-left: 12%;
}

.sidebar-link:hover {
    color: var(--wb-better-white);
    cursor: pointer;
    
}
.sidebar-button {
    position: absolute;
    top: 100px;
    
}
.alt-sidebar-link {
    line-height: 2.2;
}

.alt-sidebar-link a{
    margin-left: 25%;
    color: var(--wb-better-light-grey);
    font-size: 1rem;
}

.alt-sidebar-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}



@media screen and (min-width: 501px){
    .sidebar {
        top: 54px;
        width: calc(120px + 12%);
    }
}




