.navbar {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--wb-dark-violet-color); 
}

.navbar a {
    text-decoration: none;
    color: var(--wb-better-white);
    transition: color 0.5s ease-in-out;
    cursor: pointer;
}

.logo {
    margin-right: 50px;
    font-weight: 500;
    margin-left: 7%;
    
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 10vw;
}

.list li a {
    font-size: 1.3rem;
}



/* mobile version */
@media screen and (max-width: 500px){
    .logo {
        display: none;
    }

    .menu-mobile {
        background-color: var(--wb-dark-violet-color);
        line-height: 2;
        left: 0;
        display: flex;
        justify-content: center;
        padding: 10px;
        
    }

    .list {
        margin-right: 0;
    }

    .navbar {
        justify-content: center;
    }

    .lessons-dropdown {
        width: 50% !important;
    }
    
}
/* .menu-mobile {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: var(--wb-dark-violet-color);
}

.logo-mobile {
    font-size: 1.4rem;
}

.navbar-mobile {
    height: 70px;
}

.list-mobile {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.list-mobile li a {
    font-size: 1.1rem;
    line-height: 40px;
} */


/* for second lessons nav */
.lessons-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    margin: 10px 20px;
    background-color: var(--wb-light-pink-color);
    border-radius: 10px;
}

.lessons-nav li a {
    font-weight: 800;
    color: var(--wb-dark-pink-color);
    font-size: 1.4rem;
}

.lessons-nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lessons-dropdown {
    width: calc(120px + 12%);
    padding: 20px;
    line-height: 3;
    background-color: var(--wb-dark-violet-color);
    position: absolute;
    right: 0;
    border-radius: 0 0 0 20px;
    border-left: 5px solid var(--wb-better-white);
    border-bottom: 5px solid var(--wb-better-white);
}

.lessons-dropdown li {
    margin-left: 20px;
}

.lessons-dropdown li a {
    color: var(--wb-better-white);
    font-weight: 500;
    font-size: 1.3rem;
}