footer {
    background-color: var(--wb-dark-pink-color);
    color: var(--wb-light-pink-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: 70px 20px;
    gap: 30px;
    width: 100%;

    position: absolute;
    bottom: -20;

}

.ul-footer {
    line-height: 1.5;

}

.ul-footer li {
    list-style: none;
}

.foot h4{
    margin-bottom: 15px;
    text-align: center;
}

.ul-footer li a {
    text-decoration: none;
    color: var(--wb-light-pink-color);
    font-size: 16px;
    cursor: pointer;
}

.footer-child {
    width: 30vw;
    text-align:center;
    
}

.social-links ul {
    display: flex;
    justify-content: space-evenly;
}

.ul-footer li a:hover {
    color: var(--wb-better-white);
}
