.title-card {
        
    background-color: var(--wb-dark-violet-color);
    color: var(--wb-better-white);
    padding: 50px 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-card p {
    max-width: 300px;
    margin-left: 10%;
}


@media screen and (max-width: 600px) {
    .title-card {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {

    .title-card img {
        width: 200px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1500px){
    .title-card img {
        width: 400px;
    }
}

@media screen and (min-width: 1501px) {
    .title-card img {
        width: 500px;
    }
    
    .title-card p {
        max-width: 500px;
        margin-left: 15%;
    }

    
} 