footer {
    background-color: rgb(44, 18, 39);
    color: rgb(194, 166, 188);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: 70px 20px;
    gap: 30px;
    width: 100%;

    position: absolute;
    bottom: -20;

}

ul {
    line-height: 1.5;

}

ul li {
    list-style: none;
}

h4 {
    margin-bottom: 15px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: rgb(194, 166, 188);
    font-size: 16px;
    cursor: pointer;
}

.footer-child {
    width: 30vw;
    text-align:center;
    
}

.social-links ul {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px) {
    li a:hover {
        color: rgb(255, 255, 255);
    }
}