.header {
    color:aliceblue;
    background: linear-gradient(to right,rgb(78, 9, 105), rgb(150, 6, 138));
}

.header-img {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 20px;

}

.left-header h3 {
    font-weight: 600;
}