.article-note {
    margin: 100px 50px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    display: flex;
    align-items: center;
}

.article-note-title {
    font-weight: 800;
    font-size: 2rem;
    color: var(--wb-pink-color);
}

.notes {
    line-height: 2;
    max-width: 100%;
}

.notes li {
    list-style: disc;
}

ol {
    display: inline-table;
    margin-left: 2rem;
}

.notes h2,.notes h3, .notes h4,.notes h5, .notes h6{
    margin: 12px 0;
    position: relative;
    right: 23px;
}

.notes .circle li {
    list-style:circle;
}

.notes .decimal li {
    list-style:decimal;
}
.red-text {
    color: rgb(211, 0, 0);
}
.blue-text {
    color: rgb(49, 78, 240);
}
.green-text {
    color: rgb(24, 167, 11);
}
.l-green-text {
    color: rgb(104, 229, 92);
}
.orange-text {
    color: rgb(210, 140, 10)
}
.yellow-text {
    color: rgb(185, 188, 4)
}
.f-w-600 {
    font-weight: 600;
}

.un-txt {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}



